/* General  */
:root {
    /* Text */
    --logo-fontsize: 24px;
    --main-header-fontsize: 48px;
    --secondary-text-fontsize: 18px;

    /* Color */
    --dark-background: #1f2937;
    --button-color: #3663f6;
    --secondary-text-color: #e5e7eb;
    --logo-color: #f9faf8;

    /* containers width */

    --container-max-width: 960px;

}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.hero-area,
.reviews-container,
.quote,
.footer-action-call {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

/* Hero area */
.hero-container {
    background-color: var(--dark-background);
}

.hero-area {
    color: var(--secondary-text-color);
    padding: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 16px;

}

.hero-area-info {
    display: flex;
    padding: 100px 0;
    gap: 16px;
}

.logo {
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.info h1 {
    font-size: var(--main-header-fontsize);
    color: var(--logo-color);
}

.sign-up-button {
    background-color: var(--button-color);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;

}

.sign-up-button:hover {
    cursor: pointer;
}

a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}


/* Review  */

.reviews-title {
    text-align: center;
    margin: 50px 0;
}

.reviews-info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    color: var(--dark-background);
    font-weight: 900;
}

.reviews-info img {
    border-radius: 5px;
    border: var(--button-color) solid 2px;
}

/* Quote */

.quote-container {
    background-color: var(--secondary-text-color);
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 80px 0;

}

.quote h6 {
    text-align: end;
}

/* Footer */